{% extends 'portfolio/base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class="container">
    <h1>My Projects</h1>
    {% for project in projects %}
    <div class="project-card">
        <h2 class="project-title">{{ project.title }}</h2>
        <p class="project-description">{{ project.description }}</p>
        <div class="project-links">
            <a href="{{ project.link }}" target="_blank">View Project</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}